<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="lagomorph-block">

	<div data-lagomorph-component='{
		"viewParams": {
			"type": "L_List",
			"id": "list1"
		},	
		"dataSources": {
			"listItems": {
				"dataSource": "generic_image_list_items",
				"lazyLoad": true
			}
		}
	}'>
	</div>

</div>