<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<!-- router loads all pages into this div -->
<div id="page-wrapper">
  <div data-lagomorph-component='{
    "isGlobal": "false",
    "viewParams": {
      "type": "L_List",
      "id": "list1"
    },  
    "dataContracts": [
      { 
        "dataSource": "samplePhotoListInfo",
        "connector": "genericPhotoListConnector"
      }   
    ]
  
  }'>
  </div>
</div>