<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <!-- data-main attribute tells require.js to load
             scripts/main.js after require.js loads. -->
     <script data-main="js/js-app" src="js/lib/require.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
