<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/lagomorph/styles.css' />
    <script src="js/lib/lagomorph/L.js"></script>
  </head>
  <body>
    <script language="javascript">
      $(function() {
        L.start();
      });
    </script>
    {{{body}}}
  </body>
</html>
